<!DOCTYPE html>
<html lang="en" ng-app="RegisterApp"> <!---->
	<head>
		<meta charset="UTF-8">
		<title>Sign Up Form</title>

		<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">

		<script src="/libs/jquery/dist/jquery.js"></script>
		<script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/libs/angular/angular.js"></script>

		<script src="/index.js"></script>
		<script src="/register.js"></script>

	</head>
	<!----><body ng-controller="RegisterCtrl as registerCtrl">

		<div class="container">

			<h2 >Sign Up </h2>
            <h2>  {{registerCtrl.status}} </h2>
            <hr>
			<form name="signUpForm" novalidate class="form-horizontal" ng-submit="registerCtrl.registerUser()">

				<div class="form-group">
					<label for="Email" class="col-sm-2">Email:</label>
                    <div class="col-sm-4"> 
                <!----><input id="email" class="form-control" type="text" name="email" placeholder="me@example.com"
						required ng-model="registerCtrl.email">  
                        <span class="help-block"  ng-show="signUpForm.email.$invalid">Email: me@example.com formate</span>
                    </div>
					
				</div>

				<div class="form-group">
					<label for="password" class="col-sm-2">Password:</label>
					<div class="col-sm-4"> 
                <!----><input id="password" class="form-control" type="password" name="password" placeholder="pAssW@r1 , passWord12## , $Password123" 
						required ng-model="registerCtrl.password" ng-minlength="8" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$]).{8,}/">
                        <span class="help-block" ng-show="signUpForm.password.$invalid">Password should me minimum 8 character with one atleast one digit , one uppercase letter and one of @,#,$</span>
					</div>
				</div>

				<div class="form-group">
					<label for="username" class="col-sm-2">Name:</label>
                    <div class="col-sm-4"> 
				<!----><input id="username" class="form-control" name="username" placeholder="Name "
						   required ng-model="registerCtrl.username">
                    </div>
				</div>

                <div class="form-group">
					<label for="gender" class="col-sm-2">Gender:</label>
                    <div class="col-sm-4"> 
                        <div class="radio">
                            <label>
                            <!----><input type="radio" name="gender" value="female" 
                                required ng-model="registerCtrl.gender"> 
                                    <strong>Female</strong>
                            </label>
                            <label>
                            <!----><input type="radio" name="gender" value="male" 
                                required ng-model="registerCtrl.gender"> 
                                <strong>Male</strong> 
                            </label>
                        </div>
                    </div>
				</div>

				<div class="form-group">
					<label for="dateOfBirth" class="col-sm-2">Date Of Birth:</label>
                    <div class="col-sm-4"> 
				<!----><input id="dateOfBirth" class="form-control" type="date" name="dateOfBirth"  placeholder="DD/MM/YYYY" 
							required ng-model="registerCtrl.dateOfBirth">
                        <span class="help-block" ng-show="signUpForm.dateOfBirth.$invalid">Minimum age : 18 years</span>
                    </div>
				</div>

                <div class="form-group">
					<label for="address" class="col-sm-2">Address:</label>
                    <div class="col-sm-4"> 
				<!----><input id="address" class="form-control" name="address" placeholder="Address"
						   required ng-model="registerCtrl.address">
                    </div>
				</div>

                <div class="form-group">
					<label for="country" class="col-sm-2">Country:</label>
                    <div class="col-sm-4"> 
				<!----><input id="country" class="form-control" name="country" placeholder="Country"
						   required ng-model="registerCtrl.country">
                    </div>
				</div>

                <div class="form-group">
					<label for="contact" class="col-sm-2">Contact Number:</label>
                    <div class="col-sm-4"> 
					<!----><input id="contact" class="form-control" type="text" name="contact" placeholder="(12)12345678 or 1234567890"
						   required ng-model="registerCtrl.contact"  ng-pattern="/^\(?\d{2,3}\)?\d{8,}$/" >
                           <span class="help-block" ng-show="signUpForm.contact.$invalid">Please enter correct format: (12)12345678 or 1234567890</span>
                    </div>
				</div>

				<div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4"> 
				<!----><button type="submit" class="btn btn-success form-control" 
                        ng-disabled="signUpForm.$invalid">
						Submit
					</button>
                    </div>
				</div>
			</form>
          
		</div>
		
	</body>
</html>
